<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>classNames</key>
	<dict>
		<key>StackReviewTests</key>
		<dict>
			<key>testPerformanceLoadDataTime()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0012833</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Aug 18, 2016, 5:50:32 AM</string>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
